# Dependencies
**/node_modules/
.pnp
.pnp.js

# Build outputs
**/dist/
**/build/
.build/
.out/
.next/
.tscache
*.tsbuildinfo

# Coverage and test outputs
coverage/
.nyc_output/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and temporary files
*.log
.DS_Store
*.swp
Session.vim
.compile

# Editor/IDE files
.idea/
.vercel

# Platform-specific
*.pem

# Cypress assets
cypress/videos/
cypress/screenshots/

# Sentry
.sentryclirc
.env.sentry-build-plugin
